In [1]:
import time
import numpy as np
import pandas as pd
import requests
import random

In [3]:
main_df = pd.DataFrame()

In [5]:
url = "https://www.sports-reference.com/cbb/conferences/big-12/men/2024.html"

In [7]:
r = requests.get(url)

In [9]:
main_df = pd.read_html(r.text, header = 1, attrs={"id": "big-12-stats"})[0]

C:\Users\mazin\AppData\Local\Temp\ipykernel_66752\1661049406.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  main_df = pd.read_html(r.text, header = 1, attrs={"id": "big-12-stats"})[0]

In [11]:
time.sleep(random.uniform(1,3))

In [16]:
main_df

,Rk,School,G,W,L,W%,W.1,L.1,W.2,L.2,...,STL,BLK,TOV,PF,PTS,PTS.1,Unnamed: 36,SRS,SOS,Pace
0,1,Houston,37,32,5,0.865,15,3,17,0,...,9.8,4.8,8.9,17.8,73.5,57.6,NaN,25.69,9.80,64.1
1,2,Iowa State,37,29,8,0.784,13,5,18,0,...,10.3,3.1,10.5,16.5,75.3,61.5,NaN,22.30,8.51,67.9
2,3,Baylor,35,24,11,0.686,11,7,15,2,...,6.7,3.1,12.0,16.5,80.4,71.1,NaN,19.50,10.71,66.8
3,4,Texas Tech,34,23,11,0.676,11,7,15,2,...,6.0,2.5,11.1,14.9,75.3,69.6,NaN,14.96,9.28,67.2
4,5,BYU,34,23,11,0.676,10,8,16,2,...,5.9,3.0,10.7,17.7,81.4,69.9,NaN,19.33,7.86,69.9
5,6,Kansas,34,23,11,0.676,10,8,15,1,...,7.1,3.9,11.7,14.8,75.6,69.9,NaN,16.35,11.32,69.9
6,7,Texas,34,21,13,0.618,9,9,14,4,...,7.2,4.4,11.6,17.3,75.4,68.9,NaN,15.91,9.41,68.2
7,8,TCU,34,21,13,0.618,9,9,12,4,...,9.0,3.8,12.9,17.4,79.0,71.7,NaN,14.62,7.32,70.6
8,9,Kansas State,34,19,15,0.559,8,10,15,3,...,5.9,4.1,14.8,17.5,72.2,71.1,NaN,11.06,9.97,68.4
9,10,Oklahoma,32,20,12,0.625,8,10,14,4,...,5.9,3.3,12.5,16.1,75.4,68.8,NaN,14.66,8.07,68.4
10,11,UCF,33,17,16,0.515,7,11,11,8,...,8.7,5.0,12.5,18.2,71.7,67.9,NaN,11.92,8.17,69.3
11,12,Cincinnati,37,22,15,0.595,7,11,16,5,...,6.5,4.4,12.0,15.0,74.7,68.2,NaN,15.06,8.49,68.4
12,13,Oklahoma State,32,12,20,0.375,4,14,10,8,...,6.3,2.9,12.9,16.0,71.0,72.7,NaN,6.25,7.97,68.0
13,14,West Virginia,32,9,23,0.281,4,14,9,9,...,4.3,3.6,12.7,15.2,69.8,76.8,NaN,3.73,10.76,68.7

In [13]:
main_df.to_excel("big_12_data.xlsx", index = False)